body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #2f2;
    color: #fff;
}

#countingButton {
    border-radius: 50%;
    background-color: #363;
    color: #8b8;
    transform:scale(2.5);
}